* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 62.5%;
}

header {
  display: -ms-grid;
  display: grid;
  border: 1px solid black;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 10vh;
      grid-template-rows: 10vh;
}

header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1F271B;
  color: #F3FCF0;
}

header .nav-bar .left-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .nav-bar .left-bar #logo {
  margin-left: 2rem;
  height: 8vh;
}

header .nav-bar .left-bar #name {
  padding-left: 1rem;
  font-size: 2.2rem;
}

header .nav-bar .right-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

header .nav-bar .right-bar i {
  padding: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}

header .nav-bar .right-bar i:hover {
  color: #FFD23F;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25vw 1fr;
      grid-template-columns: 25vw 1fr;
  -ms-grid-rows: 90vh;
      grid-template-rows: 90vh;
}

.main-content .menu {
  font-size: 1rem;
  color: black;
  font-family: 'Lato', sans-serif;
  background-color: rgba(31, 39, 27, 0.014);
  border-right: 1px solid rgba(68, 66, 66, 0.116);
  font-weight: 300;
  padding: 2rem;
  padding-top: 3rem;
}

.main-content .menu .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.main-content .menu .menu-button .menu-text {
  padding-left: 1rem;
}

.main-content .menu .menu-button .menu-data {
  font-size: .65rem;
  margin-left: .5rem;
}

.main-content .menu .menu-button i {
  font-size: 1.3rem;
}

.main-content .menu .menu-button:hover {
  color: #EE4266;
}

.main-content .menu .projects-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.5rem;
}

.main-content .menu .projects-buttons p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid black;
  color: rgba(0, 0, 0, 0.315);
  cursor: pointer;
}

.main-content .menu .projects-buttons p:first-child {
  padding-right: 6rem;
}

.main-content .menu .projects-buttons .selected {
  font-weight: 700;
  color: #1F271B;
}

.main-content .menu .projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .menu .projects-list .add {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 1rem;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.main-content .menu .projects-list .add:hover {
  color: #FFD23F;
}

.main-content .menu .projects-list .project {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.473);
  padding-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-content .menu .projects-list .project i {
  font-size: .5rem;
  padding-right: .8rem;
}

.main-content .menu .projects-list .project:hover {
  color: #EE4266;
}

.main-content .menu .projects-list .project.selected {
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
}

.main-content .menu .projects-list .project.selected i {
  font-size: .7rem;
  color: #FFD23F;
}

.main-content .main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.main-content .main-screen .category-title {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.main-content .main-screen .doots-items {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.219);
}

.main-content .main-screen .doots-items .check-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .main-screen .doots-items .check-title p .check {
  border: 1px solid black;
  border-radius: 50%;
}

.main-content .main-screen .doots-items .check-title .check {
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: .2rem;
  padding: .15rem;
}

.main-content .main-screen .doots-items .check-title .doot-title {
  margin-left: 2rem;
  font-size: 1.1rem;
}

.main-content .main-screen .doots-items .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content .main-screen .doots-items .tags p:first-child {
  margin-right: 1.5rem;
}

.main-content .main-screen .doots-items .tags .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .7rem;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 25px;
  padding: .3rem;
  padding-left: .7rem;
  padding-right: .7rem;
  margin-bottom: .3rem;
  background-color: rgba(238, 66, 103, 0.205);
  text-shadow: 1px 1px 1px white;
}

.main-content .main-screen .doots-items .tags .high-priority {
  background-color: #BB1136;
  color: white;
  text-shadow: 1px 1px black;
}

.main-content .main-screen .doots-items .tags .medium-priority {
  background-color: #FFD23F;
}

.main-content .main-screen .doots-items .tags .low-priority {
  background-color: #84E166;
}

.main-content .main-screen .new-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.main-content .main-screen .new-task:hover i {
  border: 5px solid #FFD23F;
  border-radius: 50px;
  padding: .4rem;
  padding-top: .3rem;
}

.main-content .main-screen .new-task:hover p {
  margin-left: .6rem;
  border-bottom: 0.5rem solid #FFD23F;
}

.main-content .main-screen .new-task i {
  text-shadow: 1px  1px 1px #1F271B;
  color: #FFD23F;
  font-size: 1.5rem;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.main-content .main-screen .new-task p {
  margin-left: 1.7rem;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.done {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.548);
}

.done-check {
  background-color: #FFD23F;
}

.menu-left-active {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */